li{
    display: inline;
    padding: 1%;
}

*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #665444
}

body{
    width: 80%;
    margin: 0 auto;
}

#menu, #contenido, #pie{
    background-color: #efefef;
    padding:  1%;
    margin: 1%;
}

.columna{
    width: 31.3%;
    float: left; 
    margin: 1%;
    background-color: #efefef;
}

#principal{
    overflow: auto;
    
}

#pie{
    /*margin-top: 50px;*/
    /*clear: both;*/
}