div {
    display: block;
    padding: 10px;
    border: 14px solid;
}

.cajaazul {
    background-color: blue;
    color: white;
    border-color: darkblue;
}

.yellow {
    background-color: yellow;
    border-color: darkgoldenrod;
}

.caja {
    background-color: white;

}

.linea {
    display: inline;
}

.bloque {
    display: block;
}

.liblo {
    display: inline-block;
}