*{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    border: solid 1px lightskyblue;
}

p {
    color: blue;
}

.relleno{
    color: green;
}

.mayusculas{
    text-transform: uppercase;
}

/* heredo el azul*/
#especial{
    text-transform: capitalize;
}
/*
a{
    text-decoration: none;
}
*/
/*
div p {
    color: blueviolet;
}
*/

h1 + p {
    background-color: black;
}
/*
input[type="password"]{
    background-color: darkslateblue;
}
*/
/*
input{
    background-color: darkslateblue;
}
*/
form div:hover{
    background-color: goldenrod;
}

a:visited{
    color: midnightblue;
}

#ejemplo li:nth-of-type(even){
    background-color: black;
}

/* pseudo-elementos*/
p::first-letter{
    color: aquamarine;
    font-size: 30px;
}

li{
    background-color: darkgreen;
}

li{
    background-color: hotpink;
}

.primero{
    background-color: darkred; 
}