h1{
    color: gray;
    text-align: center;  
}

.fondo{
    display: block;
    background-color: lightgray;
    margin: 5px;
    text-align: center;
    padding: 10px;      
}

.fondoC{
    display: block;
    background-color: gray;
    float: left;
    margin: 5px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 240px;
}

.ultimo{
    margin-top: 80px;
}

