.Caja_Uno{
    display: block;
    border-color: black;
    border: 1px solid;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.Caja_Dos{
    
    border-color: black;
    border: 1px solid;
    height: 200px;
    width: 200px;
    
}

/*
.Caja_Cinco{
    display: block;
    border-color: black;
    border: 1px solid;
    height: 200px;
    width: 200px;
}
*/